body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    height: 100%;
    width: 100%;
}

h2 {
    text-align: center;
    margin: 20px auto 16px auto;
}

.attribution {
    font-size: 11px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.card-container {
    background-color: white;
    border-color: 10px;
    margin: 150px auto 0px auto;
    width: 288px;
    padding: 16px;
    border-radius: 16px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card-desc {
    display: block;
    text-align: center;
    margin: 0px auto 22px auto;
    padding: 0px 12px;
    color: hsl(220, 15%, 55%);
}


#barcode {
    border-radius: 12px;
    width: 288px;
    height: 288px;
}




